body {
    margin: 0;
    background:rgb(255, 255, 255);
    overflow-x:hidden;
}
nav{
    background:#6bafd6;
    height:70px;
    padding: 0px;
    
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding-right: 80px;
}

li {
    padding-left:10px;
    display: inline;
    display: center;
    color: black;
}

.testa a{
    font-family: 'Baloo Thambi', cursive;
    font-size: 30px;
    color: black;
    
}

h1{
    font-family: 'Baloo Thambi', cursive;
    font-size: 35px;
    color: white;
    margin-bottom: 30px;
}

h3{
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: white;
}

h6{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    
}

#AL{
    padding-bottom: 10px; 
}

#Scelte{
    padding-left: 100px;
}

#cover {
    position: relative;
    padding-bottom: 40px;
  }
  
#pianeta {
    position: absolute;
    top: 80px;
    width: 100%;
    position: center;
    margin-left:900px; 
  }

  #astro {
    position: absolute;
    top: 260px;
    width: 100%;
    position: center;
    margin-left:650px; 
  }
  
#blu{ 
    width: 100%;
    height: auto;
  }

#inizio{
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    position: center;
    margin-left:100px; 
}

#selezione{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}

#chartContainer{
    margin: 50px;
    width: 70%;
    height: auto;
    margin: 0 auto;
}

footer{
    background:#01103a;
    height: 40px;
}

.piede a{
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.piede ul{
    position: center;
}

.piede{
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    color: white;
    display: center;
    align-items: center;
}
